---
import imageUrl from "./parchment.png"

interface Props {
	class?: string;
}

const { class: _class = "" } = Astro.props satisfies Props
---

<div
	class="parchment bg-transparent"
	class:list={[_class]}
	data-theme="light"
>
</div>

<style define:vars={{ imageUrl: `url("${ imageUrl.src }")`}} >
.parchment {
	position: absolute;
	top: -10px;
	left: -10px;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	background-color: rgb(238, 238, 213);
	/* border-style: solid; ✅ required
	border-width: 10px;
	border-image-source: var(--imageUrl);
	border-image-slice: 240;
	border-image-width: 200; */
}
</style>

<style is:global>
/* *:has(> .parchment) {
	position: relative;
} */
</style>
