---
import Layout from '@/components/Layouts/Layout.astro';
import Parchment2 from '@/components/Parchment/Parchment2.astro';
---

<Parchment2 class="fixed top-1/2 left-1/2 z-[10000]">
	<h1>Hello</h1>
</Parchment2>
