---
export interface Props {
	label: string;

	/**
	 * From DaisyUI badge colours
	 * 
	 * https://daisyui.com/components/badge/#badge-with-colors
	 */
	colour?: string;
	icon?: string;
}

const {
	label,
	colour = "badge-primary",
	icon
} = Astro.props satisfies Props
---

<span
	class="badge badge-soft"
	class:list={[colour]}
>{ label }</span>
